body {
    margin: 0;
}

.game {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(61, 60, 60);
    color: rgb(7, 167, 7);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.custom-btn {
    min-width: 100px;
    height: 50px;
    background-color: wheat;
    border: 3px solid green;
    border-radius: 10px;
    color: green;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    &:hover{
        color:wheat;
        background-color: green;
    }
}

.m30{
    margin: 30px
}